<ul class="nav justify-content-center">
  <% if admin_signed_in? %>
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <% elsif customer_signed_in? %>
  <li class="nav-item">
    <%= link_to "Account Settings", edit_customer_registration_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign Out", destroy_customer_session_path, class: "nav-link" %>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to "Sign Up", new_customer_registration_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign in", new_customer_session_path, class: "nav-link" %>
  </li>
  <% end %>
</ul>
<% if flash[:notice] %>
  <div class="p-4 mb-4 text-md text-blue-700 text-center font-bold">
    <%= notice %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="p-4 mb-4 text-md text-red-700 text-center font-bold">
    <%= alert %>
  </div>
<% end %>